html,
body,
#root {
  height: 100%;
}

.navbar-pt {
  padding-top: $nav-link-height;
}

.page-heading {
  margin-top: $spacer;
  margin-bottom: $spacer;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}